{% extends "learning_logs/base.html" %}

{% block page_header %}

  <h1>Темы:</h1>
{% endblock page_header %}

{% block content %}
<h3><small><a href="{% url 'learning_logs:new_topic' %}">Добавить новую тему</h3></small></a>
  <ul>
    {%  for topic in topics %}
      <li><h3>
        <small><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></small>
      </h3>
        <form action="/deleteTopic/{{topic.id}}/" method = "post">{% csrf_token %}
              <input type="submit" value="Удалить тему">
        </form>  
      </li>
    {% empty %}
      <li></h3>Темы ещё не добавлены.</h3></li>
    {% endfor %}
  </ul>
  

{% endblock content %}  